* {
	font-family: Arial;
}
h1 {
	font-size:100px;
}
body {
	background-color: #CF000F;
}
.buttons {
	height: 60px;
	width: 200px;
	background: #CF000F;
	border: 5px solid black;
	margin-top: -4px;
	border-radius: 8px
}
h2 {	
	text-align: center;
	font-size:40px;
	line-height:0px;
	}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: white;
}
.buttons:hover {
	border: 5px solid white;
}
h3 {
	font-size:30px;
}
