h1 {
	font-family: Arial;
	font-size:100px;
}
body {
	background-color: #F22613;
}
.buttons {
	height: 60px;
	width: 250px;
	background: #F22613;
	border: 5px solid black;
	margin-top: -4px;
	border-radius: 8px
}
h2 {	
	text-align: center;
	font-family: Arial;
	font-size:40px;
	line-height:0px;
	}
a {
	text-decoration: none;
	color: black;
}